
<h2 class="system-themes-list__header">{{ dashuser }}'s Dashboard</h2>
<div class="card-list card-list--four-cols">
  <div class="card card--vertical card-list__item">
    <div class="card__content-wrapper">
      <div class="card__content">
        <h3 class="card__content-item heading-f">Video Links</h3>
        <div class="card__content-item">
          <ul>
            <li><a href="/admin/film/import">Import Videos</a></li>
            <li><a href="/admin/bulk-edit/videos">Bulk Edit Videos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card card--vertical card-list__item">
    <div class="card__content-wrapper">
      <div class="card__content">
        <h3 class="card__content-item heading-f">Video Links</h3>
        <div class="card__content-item">
          <ul>
            <li><a href="/admin/film/import">Import Videos</a></li>
            <li><a href="/admin/bulk-edit/videos">Bulk Edit Videos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
