
{% for facet in facets %}
  <li>
    <div class="collapsible-header">
      <i class="material-icons">keyboard_arrow_right</i>{{ facet.title }}
    </div>
    <div class="collapsible-body padded">
      <p>{{ facet.content }}</p>
    </div>
  </li>
{% endfor %}

